# m h  dom mon dow   command
1 1 * * * pip3 install --upgrade youtube-dl > /proc/1/fd/1 2>/proc/1/fd/2
* * * * * php /var/www/html/AVideo/plugin/Scheduler/run.php > /proc/1/fd/1 2>/proc/1/fd/2
2 1 * * * php /var/www/html/AVideo/plugin/CDN/tools/moveMissingFiles.php  > /proc/1/fd/1 2>/proc/1/fd/2
