/nbproject/private/
/videos/
/nbproject/
/docker/
/plugin/LiveOnlineUsers/
/plugin/LiveUsers/
/plugin/VideoResolutionSwitcher/
/plugin/AudioTrackSwitcher/
/plugin/topMenu/
/plugin/VR360/
/plugin/TopMenu/
/plugin/Customize/
/plugin/VideoThumbnails/