/nbproject/private/
/videos/
/nbproject/
/docker/
/plugin/LiveOnlineUsers/
/plugin/LiveUsers/
/plugin/VideoResolutionSwitcher/
/plugin/AudioTrackSwitcher/
/plugin/topMenu/
/plugin/VR360/
/plugin/TopMenu/
/plugin/Customize/
/plugin/VideoThumbnails/
/plugin/MP4ThumbsAndGif/
/plugin/VideoLogoOverlay/
/plugin/FloatVideo/
/plugin/ShareSocialButtonsOnEmbed/
/plugin/PayPalToWatch/
/plugin/PredefinedCategory/
/plugin/SecureVideosDirectory/
/plugin/PointsSystem/
/plugin/GoogleAds_IMA/