/.scannerwork/
/YouPHPTube.code-workspace
/git.php
/imageToWebp.php
/iptvsource_one_one.csv
/nbproject/
/nbproject/private/
/plugin/AD_Server_Promote_Videos/
/plugin/AWS_S3/
/plugin/AudioTrackSwitcher/
/plugin/AudioVisualizer/
/plugin/AutoShare/
/plugin/Backup/
/plugin/Blackblaze_B2/
/plugin/Chat2/
/plugin/CountryRedirect/
/plugin/CreateUserManager/
/plugin/Customize/
/plugin/DIY/
/plugin/DiskUploadQuota/
/plugin/FTPAutoImport/
/plugin/FTP_Storage/
/plugin/FlixHouse/
/plugin/GoogleAds_IMA/
/plugin/IPDirectConnect/
/plugin/IPTV/
/plugin/ImportFromOtherVideoPlatform/
/plugin/Layout/hamburguerMenu.php
/plugin/Layout/navBarLateral.php
/plugin/Layout/navbar.php
/plugin/Layout/timer.php
/plugin/LifeStreamLayout/
/plugin/LiveCountdownEvent/
/plugin/LiveOnlineUsers/
/plugin/LiveUsers/
/plugin/Livesearch/
/plugin/LoginLDAP/
/plugin/LoginLDAP_DYNA/
/plugin/MP4ThumbsAndGif/
/plugin/MP4ThumbsAndGifLocal/
/plugin/Notifications/
/plugin/PayPalToWatch/
/plugin/PayPerView/
/plugin/PayPerViewLive/
/plugin/PointsSystem/
/plugin/PromoteVideos/
/plugin/ReturnToLastPosition/
/plugin/SecondLife/
/plugin/SecondWatch/
/plugin/SecureVideosDirectory/
/plugin/SendRecordedToEncoder/
/plugin/SignUpAgreement/
/plugin/Subscription/
/plugin/SubtitleSwitcher/
/plugin/SupportAuthor/
/plugin/Tecorio/
/plugin/User_Controll/
/plugin/VideoDocuments/
/plugin/VideoHLS/
/plugin/VideoResolutionSwitcher/
/plugin/VideoSpeed/
/plugin/VideoThumbnails/
/plugin/Video_Location_Block/
/plugin/YPTStorage/
/plugin/YouPHPTV/
/plugin/ZoomMeetingRecorder/
/plugin/oncologytube/
/plugin/predefinedCategory/
/plugin/FansSubscriptions/
/plugin/MessageOfTheDay/
/plugin/InteractiveVideo/
getPaidPlugisList.php
/videos/
*.zip
sitemap.xml
/plugin/WebRTCLiveCam/
/plugin/Wix/
/plugin/Live/standAloneFiles/WebRTCServer/configuration.php
/plugin/Fishr/
/plugin/JoshWho/
.DS_Store
/.project
objects/ezyang/
/plugin/Conspyre/
/plugin/VideoOffline/
/plugin/TestOnly/
view/videoComments_bkp.php
/.compose/
/plugin/JosephZ/
/Encoder/
/.env
/plugin/User_Location/install/install.sql
/plugin/PedagoFlix/
/plugin/YPTWebRTC/
plugin/CustomizeUser/getMyAccount.php
*.rnd
/plugin/Gift/
/plugin/Rebroadcaster/
/plugin/VideoVoteSystem/
/plugin/Search/
plugin/Vdatait/
plugin/VideoPlaylistScheduler/
install/bulkCreateUser.php
/plugin/CertifyComplete/
plugin/WebAuthnLogin/
plugin/UserOTPLogin/
test*
CreatePlugin/plugins/
vendor/james-heinrich/getid3/demos/
AVideoStorage/
plugin/VideoHLSOverlay/
plugin/WebRTC/WebRTC2RTMP.json
plugin/WebRTC/WebRTC2RTMP
plugin/API/standAlone/temp_concat_list.txt
plugin/API/standAlone/assets/playlist_live_stream_executable
