<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         stopOnError="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnRisky="false"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Security Tests">
            <directory suffix="Test.php">tests/Security</directory>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
    </testsuites>
    
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">objects</directory>
            <directory suffix=".php">plugin</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
            <file>objects/Channel.php</file>
            <directory suffix=".json.php">objects</directory>
            <directory suffix=".txt.php">objects</directory>
        </exclude>
    </coverage>
    
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
