*{
    font-family: Roboto,arial,sans-serif;
    font-size: 12px;
}
html,
body {
    height: 100vh;
    padding-top: 30px;
    background-color: #f8f8f8;
}


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.videoLink .duration{
    position: absolute;
    background: rgba(0,0, 0, 0.6)!important;
    padding: 2px;
    color: #FFF;
    bottom: 5px;
    right: 5px;
    font-size: 0.9em;
}
.videoLink .glyphicon-play-circle{
    transition: all 0.3s ease-in-out;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
    color: rgba(255,255, 255, 0.3)!important;
    font-size: 50px;
}

.videoLink div{
    transition: all 0.3s ease-in-out;
    color: #000;    
    font-size: 1em;
}
.videoLink div.details, .videoLink div.details div{
    color: #777;
    font-size: 0.9em;
}

.videoLink:hover .glyphicon-play-circle{
    color: rgba(255,255, 255, 0.6)!important;
}
.videoLink:hover div{
    color: #167ac6;
}


.bottom-border{
    border-bottom: 2px solid #F2F2F2;
    margin: 0;
    padding: 5px;
}

h1,h2,h3,h4{
    margin: 5px;
    padding: 5px;
}

h1{
    font-size: 20px;
}
h2{
    font-size: 18px;
}
h3{
    font-size: 16px;
}
h4{
    font-size: 14px;
}

footer {
    color: white;
    padding: 25px;
    background-color: #000;
    text-align: center;
    margin: 0;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active{
    color: #000;
    background: white;
    border: solid 2px white;
}
.btn-outline {
    color: white;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin: 0 5px;
}

/* for main video */
video {
    flex:0 1 100%;
    object-fit: fill; /* over-ride "object-fit: contain" only for webkit as it doesn't honour the ratio */
}
.flex-item {
    padding: 1em;
    box-sizing:border-box;
    height:auto;
}
.video-content {
    flex:0 1 100%;
    height:50%;
    display:flex;
    justify-content:flex-start;
}
.main-video{
    background-color: #000;
    margin-bottom: 10px;
}

/* end for main video */
/*Navbar*/
.navbar-nav>li {
    float: none;
}
.navbar-nav {
    height: 100%;
    background-color: #f8f8f8;
    border: 1px solid #DDD;
    border-width: 0 1px 1px 1px;
}
.navbar-collapse{
    background-color: #f8f8f8;
    border: 1px solid #DDD;
}
.navbar-collapse.collapse {
    display: none !important;
}
.navbar-collapse.collapse.in {
    display: block !important;
}
.navbar-header .collapse, .navbar-toggle {
    display:block !important;
}
.navbar-header {
    float:none;
}

.brand{
    position: absolute;
    top: 10px;
    width: 500px;
    margin-left: 5px;
    
}
.brand img{
    height: 30px;
    width: auto;
}

/*Fim nav bar */
.form-compact .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-compact input.form-control {
    border-radius: 0;
    margin-bottom: -1px;
}
.form-compact input.first, .form-compact select.first {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.form-compact input.last, .form-compact select.last {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .navbar-form {
        padding: 0;
    }
}
@media (max-width: 550px) {
    a.brand img{
        content:url(../img/logo64.png);
        height: 40px;
        margin-left: 30px;
    }
}

/* Comments */
.commenterName small {
    color:#aaa;
    font-family:verdana;
    font-size:0.9em;
}
.commenterName {
    margin-right:5px;
}
.commentText {
    clear: both;
}
.commentDetails {
    margin:0 0 0 60px;
}
/* End Comments */


/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
  border-bottom: 4px solid #DDD;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
  background: none !important;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
/* END Tabs panel */

.liLogin a{
    color: #080 !important;
    font-size: 1.2em;
}

.nowrapCell td {
    white-space: normal !important;
}

.watch8-action-buttons{
    padding: 5px 10px 0 10px;
    margin: 5px 0 0 0;    
    border-top: 2px solid #F2F2F2;
}
.watch8-action-buttons a{
    color: #777;
}

.bgWhite{
    margin: 0 0 10px;
    border: 0;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-outline{
    border: 0;
}

.no-outline:focus, 
.no-outline:active, 
.no-outline:hover{
    background-color: transparent;
    color: #000;
}

#showMore{
    padding: 20px;
    margin: 10px;    
    border-top: 2px solid #F2F2F2;
}

.watch-view-count {
    line-height: 24px;
    max-height: 24px;
    text-align: right;
    font-size: 19px;
    color: #666;
    white-space: nowrap;
    margin: -5px;
    padding: -5px;
    border-bottom: 2px solid #167ac6;
    z-index: 9999999 !important;
}

#likeBtn.myVote span, #likeBtn.myVote small {
    color: #167ac6;
}
#dislikeBtn.myVote span, #dislikeBtn.myVote small {
    color: #444;
}