.img-portrait {
    transform: scale(0.56) rotate(90deg);
}
.embed-responsive-9by16 {
    padding-bottom: 100%;
}
.video-js.vjs-9-16 {
    padding-top: 100%;
}

.vjs-rotate90 {
    rotate: 90;
    zoom: 1.0;
}

.vjs-thumbnail-holder {

    margin-bottom: 10px;

}