.principalContainer,
#mainContainer,
#bigVideo,
.mainArea,
.galleryVideo,
#sideBarContainer > ul > li > div,
.navbar-header li,
.panel-heading,
th,
td,
a,
.panel-footer,
.label,
.videoPlaylist .material-switch label{
    direction: rtl;
    unicode-bidi: embed;
}

#sidebar .nav {
    padding-right: 0;
}

.dropdown-menu,
.navbar-header li a,
#sideBarContainer .btn,
#sideBarContainer a,
#sideBarContainer > ul,
.videoPlaylist {
    text-align: right !important;
}

.dropdown-submenu a {
    width: 100%;
}

.galeryDetails div {
    float: right !important;
}

#saveCommentBtn {
    border-width: 1px;
    border-right-width: 0;
}

.pull-left {
    float: right !important;
}

.pull-right {
    float: left !important;
}

.material-switch label{
    margin-left: 5px;
}