/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network button {
    margin: 3px;
}

/* Specific icons with custom properties for color management */
.social-network .icoRss {
    --hover-color: #F56505;
}

.social-network .icoTelegram {
    --hover-color: #26A5E4;
}

.social-network .icoThreads {
    --hover-color: #000;
}

.social-network .icoWhatsapp {
    --hover-color: #25D366;
}

.social-network .icoInstagram {
    --hover-color: #E4405F;
}

.social-network .icoSpreaker {
    --hover-color: #FF0000;
}

.social-network .icoFacebook {
    --hover-color: #3B5998;
}

.social-network .icoTwitter {
    --hover-color: #1DA1F2;
}

.social-network .icoXTwitter {
    --hover-color: #000;
}

.social-network .icoGoogle {
    --hover-color: #DB4437;
}

.social-network .icoVimeo {
    --hover-color: #1AB7EA;
}

.social-network .icoLinkedIn {
    --hover-color: #0077B5;
}

.social-network .icoTumblr {
    --hover-color: #36465D;
}

.social-network .icoPinterest {
    --hover-color: #BD081C;
}

.social-network .icoReddit {
    --hover-color: #FF4500;
}

.social-network .icoWordpress {
    --hover-color: #21759B;
}

.social-network .icoPinboard {
    --hover-color: #0000FF;
}

.social-network .icoCopy {
    --hover-color: #333;
}

.social-network .icoGab {
    --hover-color: #00D178;
}

.social-network .icoCloutHub {
    --hover-color: #F16E28;
}

.social-network .icoTikTok {
    --hover-color: #000000;
}

.social-network .icoPatreon {
    --hover-color: #F96854;
}

.social-network .icoAmazon {
    --hover-color: #FF9900;
}

.social-network .icoGoodreads {
    --hover-color: #372213;
}

.social-network .icoShopping {
    --hover-color: #FF5733;
}

.social-network .icoApple {
    --hover-color: #A3AAAE;
}

.social-network .icoPodcast {
    --hover-color: #FF2D55;
}

.social-network .icoIMDB {
    --hover-color: #E6B91E;
}

.social-network .icoTwitch {
    --hover-color: #9146FF;
}

.social-network .icoYoutube {
    --hover-color: #FF0000;
}

.social-network .icoSubstack {
    --hover-color: #FF6719;
}

.social-network .icoRumble {
    --hover-color: #85C742;
}

/* Define a base class for common styles */
.social-network a,
.social-network button {
    border: #FFFFFF55 1px solid;
    color: var(--hover-color);
    /* Change text color on hover */
    box-shadow: 0 0 1px 1px var(--hover-color);
    /* Outer glow effect */
    transition: box-shadow 0.3s ease;
    /* Smooth transition for the glow effect */
}

.social-network i.socialColor {
    color: var(--hover-color);
    /* Change text color on hover */
}

.social-network a:hover,
.social-network button:hover {
    background-color: var(--hover-color);
    box-shadow: 0 0 6px 4px var(--hover-color);
    /* Outer glow effect */
}

.social-network.social-bgColor a,
.social-network.social-bgColor button {
    color: #fff;
    background-color: var(--hover-color);
}

.social-network *:hover {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 10px auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-circle a {}

#shareDiv,
#shareDiv .tabbable-panel {
    border-width: 0;
}


@font-face {
  font-family: 'icomoon';
  src:  url('social-fonts/icomoon.eot?9yzegg');
  src:  url('social-fonts/icomoon.eot?9yzegg#iefix') format('embedded-opentype'),
    url('social-fonts/icomoon.ttf?9yzegg') format('truetype'),
    url('social-fonts/icomoon.woff?9yzegg') format('woff'),
    url('social-fonts/icomoon.svg?9yzegg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.fa-extra {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-rumble:before {
  content: "\e900";
}
.fa-substack:before {
  content: "\e901";
}
.fa-gab:before {
  content: "\e902";
}
