# m h  dom mon dow   command
# @reboot sleep 60; &&  /usr/local/nginx/sbin/nginx > /proc/1/fd/1 2>/proc/1/fd/2
0 4 * * * /usr/local/nginx/sbin/nginx -s stop && sleep 1 && /usr/local/nginx/sbin/nginx  > /proc/1/fd/1 2>/proc/1/fd/2
