<?xml version="1.0" encoding="UTF-8"?>

<Server version="8">
    <Name>OvenMediaEngine</Name>
    <Type>origin</Type>
    <IP>*</IP>
    <StunServer>stun.l.google.com:19302</StunServer>
    <Bind>
        <Managers>
            <API>
                <Port>${env:OME_API_PORT:48081}</Port>
                <WorkerCount>1</WorkerCount>
            </API>
        </Managers>
        <Providers>
            <WebRTC>
                <Signalling>
                    <!--
                    <Port>${env:OME_SIGNALLING_PORT:3333}</Port>
                    -->
                    <TLSPort>${env:OME_SOCKET_PORT:3334}</TLSPort>
                </Signalling>
                <IceCandidates>
                    <TcpRelay>${env:OME_TCP_RELAY_ADDRESS:*:3478}</TcpRelay>
                    <IceCandidate>${env:OME_ICE_CANDIDATES:*:10006-10010/udp}</IceCandidate>
                </IceCandidates>
            </WebRTC>
        </Providers>

        <Publishers>
            <HLS>
                <Port>${env:OME_HLS_STREAM_PORT:8080}</Port>
                <TLSPort>${env:OME_STREAM_PORT_TLS:8443}</TLSPort>
            </HLS>
            <WebRTC>
                <Signalling>
                    <!--
                    <Port>${env:OME_SIGNALLING_PORT:3333}</Port>
                    -->
                    <TLSPort>${env:OME_SOCKET_PORT:3334}</TLSPort>
                </Signalling>
                <IceCandidates>
                    <TcpRelay>${env:OME_TCP_RELAY_ADDRESS:*:3478}</TcpRelay>
                    <IceCandidate>${env:OME_ICE_CANDIDATES:*:10006-10010/udp}</IceCandidate>
                </IceCandidates>
            </WebRTC>
        </Publishers>
    </Bind>
    <VirtualHosts>
        <VirtualHost include="VHost*.xml" />
        <VirtualHost>
            <Name>default</Name>
            <Host>
                <Names>
                    <Name>{ServerHost}</Name>
                    <Name>127.0.0.1</Name>
                </Names>
                <TLS>
                    <CertPath>/cert/CertPath.pem</CertPath>
                    <KeyPath>/cert/KeyPath.pem</KeyPath>
                    <ChainCertPath>/cert/ChainCertPath.pem</ChainCertPath>
                </TLS>
            </Host>
            <Applications>
                <Application>
                    <Name>app</Name>
                    <Type>live</Type>
                    <OutputProfiles>
                        <OutputProfile>
                            <Name>bypass_stream</Name>
                            <OutputStreamName>${OriginStreamName}</OutputStreamName>
                            <Encodes>
                                <Audio>
                                <Bypass>false</Bypass>
                                <Codec>aac</Codec>
                                <Bitrate>128000</Bitrate>
                                <Samplerate>48000</Samplerate>
                                <Channel>2</Channel>
                            </Audio>
                            <Video>
                                <Bypass>true</Bypass>
                            </Video>
                            <Audio>
                                <Codec>opus</Codec>
                                <Bitrate>128000</Bitrate>
                                <Samplerate>48000</Samplerate>
                                <Channel>2</Channel>
                            </Audio>
                            </Encodes>
                        </OutputProfile>
                    </OutputProfiles>
                    <Providers>
                        <WebRTC />
                    </Providers>
                    <Publishers>
                        <StreamLoadBalancingThreadCount>16</StreamLoadBalancingThreadCount>
                        <SessionLoadBalancingThreadCount>0</SessionLoadBalancingThreadCount>
                        <RTMPPush></RTMPPush>
                        <WebRTC>
                            <Timeout>120000</Timeout>
                            <Rtx>true</Rtx>
                            <Ulpfec>true</Ulpfec>
                        </WebRTC>
                        <HLS>
                            <SegmentDuration>5</SegmentDuration>
                            <SegmentCount>3</SegmentCount>
                            <CrossDomains>
                                <Url>*</Url>
                            </CrossDomains>
                        </HLS>
                    </Publishers>
                </Application>
            </Applications>
        </VirtualHost>
    </VirtualHosts>
    <Managers>
        <Host>
            <Names>
                <Name>*</Name>
            </Names>
        </Host>
        <API>
            <AccessToken>{AccessToken}</AccessToken>
        </API>
    </Managers>
</Server>