[mysqld]
wait_timeout = 28800
interactive_timeout = 28800
max_allowed_packet = 256M
innodb_buffer_pool_size = 512M
innodb_log_file_size = 256M
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
innodb_log_buffer_size = 8M
innodb_io_capacity = 500
innodb_flush_method = O_DIRECT
net_buffer_length = 64K
