body{
    background-color: #EEE;
}
/* The right sidebar CSS modification */  

.compress { 

top: 1px !important; 

}

span.selection > span.select2-selection--single{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
}

#filterDropdown label{
    color: #333;    
}