name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  push:
    branches: [ "latest" ]


jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - uses: azure/docker-login@v1
        with:
          login-server: gacontainers.azurecr.io
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - run: |
          docker build . -t avideo:latest
          docker tag avideo:latest gacontainers.azurecr.io/avideo:latest
          docker tag avideo:latest gacontainers.azurecr.io/avideo:${{ github.sha }}
          docker push gacontainers.azurecr.io/avideo:${{ github.sha }}
          docker push gacontainers.azurecr.io/avideo:latest
